#page-blog {

	.blog-post {

		border-top: 1px solid $white;
		border-bottom: 1px solid $chisel_gray;
		padding: 20px 0;


		h2 {
			margin: 0;
		}

		small {
			font-style: italic;
		}

		p {
			font-size: 0.9em;
		}

	}

	.blog-post:first-of-type {
		border-top: 0;
	}

	.blog-post:last-of-type {
		border-bottom: 0;
	}

}
